[project]
name = "demo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "pufferlib>=3.0.0",
    "torch",
    "gymnasium",
    "numpy",
    "raylib",
]
